
services:

  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: dev
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - REACT_APP_API_BASE_URL=${REACT_APP_API_BASE_URL:-http://localhost:8000}
    ports:
      - "3000:3000"
    depends_on:
      - backend
    stdin_open: true
    tty: true

  backend:
    container_name: backend
    build:
        context: ./backend
        dockerfile: Dockerfile
    env_file:
      - ./.env
    volumes:
      - ./backend/service:/dude/service
      - '' # Пока пусто, но будет S3
    command: server
    ports:
      - '8000:8000'
    environment:
      - SERVICE_DEBUG=1
      - CORS__ALLOW_ORIGINS=${CORS__ALLOW_ORIGINS:-["http://localhost:3000","http://81.177.217.148:3000"]}
    stdin_open: true
    tty: true
    restart: "always"
    depends_on:
      - postgres

  postgres:
    container_name: postgres
    image: postgres:17.6-bookworm
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - pg_data_volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: "always"

volumes:
  pg_data_volume:
